.body{
    display: flex;
    flex-direction: row;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: center
    
}

.igpic{
    display: flex;
    justify-self: start;
    
    
}

.middleRight{
    display: flex;
    flex-direction: column;
    
    /* align-items: flex-end;
    justify-content: right;
    align-self: center; */
    
}
.following{
    border: solid black 1px;


}
.check-mark{
    display: inline;
    height: 15px;


}

.middlerighttwo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

}
.firstTry{
    flex-direction: row;

}


.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}
.grey{
    color: grey;
}
.bold{
    font-weight: bold;
    color: black;
}
.grey{
    color: grey;
}
.heart{
height: 15px;
}
.info{
    display: flex;
    flex-direction: row;
}
